<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title>RSS for Newsletter</title>
        <description>Data for Newsletter</description>
        <language>de</language>
        <link>https://www.bundeswehr-und-mehr.de</link>

        {% block items %}

        {% endblock %}
    </channel>
</rss>