/.yo-rc.json
/meta/documents/changelog_de.md
/meta/documents/changelog_en.md
/config.json
/meta/images/icon_author_md.png
/meta/images/icon_author_sm.png
/meta/images/icon_author_xs.png
/meta/images/icon_plugin_md.png
/meta/images/icon_plugin_sm.png
/meta/images/icon_plugin_xs.png
/plugin.json
/meta/images/preview_0.png
/meta/documents/support_contact_de.md
/meta/documents/support_contact_en.md
/meta/documents/user_guide_de.md
/meta/documents/user_guide_en.md
